<header>
  <h1 class="site-logo">
    <i class="fas fa-heart"></i>
    DateSpot
  </h1>

  <div class="header-list">
    <ul>
      <li><%= link_to "ホーム", tweets_path %></li>

      <% if user_signed_in? %>
        <li><%= link_to "新規投稿", new_tweet_path %></li>
        <li><%= link_to "マイページ", user_path(current_user) %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path,
                data: { turbo_method: :delete } %></li>
      <% else %>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</header>
